@use 'sections';
@use 'footer';
@use 'navbar';
@import 'variables';

body{
    background-color: $backgroundColor;

    header{
        color: rgb(46, 39, 12);
        width: 100%;
        h1{
            font-style: italic;
            text-align: center;
        }
    }
}

